<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Security Stuff</title>
</head>
<body>
    <h1>Security Stuff</h1>

    <hr>


    <p>Welcome to Security Stuff</p>

    <!--    show the username and roles-->
    <p>
        Username: <span sec:authentication="principal.username"></span>
        <br>
        Role(s):  <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('manager')">
        <!-- add link for path for manager    -->
        <p>
            <a th:href="@{/leaders}">Manager meeting</a>
        </p>
    </div>


    <div sec:authorize="hasRole('admin')">
        <!-- add link for path for IT ADMINS    -->
        <p>
            <a th:href="@{/admin}">System check</a>
        </p>
    </div>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}"
          method="POST">
        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>

</body>
</html>